@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?fr0ju3');
  src:  url('../fonts/icomoon.eot?fr0ju3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fr0ju3') format('truetype'),
    url('../fonts/icomoon.woff?fr0ju3') format('woff'),
    url('../fonts/icomoon.svg?fr0ju3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social:before {
  content: "\e901";
}
.icon-github:before {
  content: "\e902";
}
.icon-brand1:before {
  content: "\e902";
}
.icon-octacat:before {
  content: "\e902";
}
.icon-social1:before {
  content: "\e902";
}
.icon-youtube:before {
  content: "\e903";
}
.icon-brand2:before {
  content: "\e903";
}
.icon-social2:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-brand3:before {
  content: "\e904";
}
.icon-tweet:before {
  content: "\e904";
}
.icon-social3:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-brand4:before {
  content: "\e905";
}
.icon-social4:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-brand5:before {
  content: "\e906";
}
.icon-social5:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e900";
}

.icon-in:before {
  content: "\e901";
}


body
{
  font-family: 'Abel', sans-serif;
  margin:0px;
}

h1, h2, h3, h4, h5, h6
{
  font-family: 'Titillium Web', sans-serif;
  font-weight: normal;
}

h1
{
  font-size: 2em;
  margin: 0px;
  color:white;
}

h1 strong
{
  color: #026fff;
}

h2
{
  color:#026fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6em;
  margin-bottom: 2.5em;
}

.header
{
  display: flex;
  height: 70px;
  justify-content: space-between;
  background-color: black;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  flex-wrap: wrap;
}

.header a
{
  display:flex;
  padding: 0px 5px;
  align-items: center;
  height: inherit;
  font-family: 'Titillium Web', sans-serif;
  color:inherit;
  text-decoration: none; 
}

.header ol
{
  display:flex;
  height: inherit;
}

.menu
{
  height: inherit;
}

.menu ol li
{
  list-style: none;
  height: inherit;
}

.logo
{
  padding: 5px;
}

figure, nav, ol, li
{
  margin: 0px;
  padding: 0px;
}

.hero
{
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color:white;
  flex-wrap: wrap;
}


.hero-image

{
  padding-right: 200px;
  object-fit: cover;
}


.portfolio
{
  background: #fafafa;
  padding: 20px;
}

.portfolio h2
{
  margin:0px;
   
}

.project
{
  font-family: 'Titillium Web', sans-serif;
  background: white;
  display:flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
  padding:20px;
  margin-top: 20px;
  margin-bottom: 5px;
  flex-wrap:wrap;
}
.project-subtitle, .project-date, .project-url
{
  font-family: 'Abel', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  margin: 10px 0px 0px 6px;
}

.project-description
{
  font-size: 1.1em;
  margin: 10px 0px 0px 6px;
}

.project strong
{
  font-family: 'Roboto', sans-serif;
}

.project-title
{
  font-size: 2.4em;
  margin: 5px;
  font-family:'Abel', sans-serif;
  font-weight: bold;
}

.project-details
{
  width:50%;
}

.project-imageContainer
{
  width: 50%;
  text-align: right;
}

.project-imageContainer img
{
  max-width: 100%;
  border-radius: 10px;
}
.project-url a
{
  color:blue;
}

.canal-list {
  display: flex;
  flex-wrap: wrap;
}
.canal-list-title {
  margin-left: 20px;
}
.canal { 
  margin: 1%;
  width: 48%;
  flex-shrink: 0px;
  border-radius: 10px;
  overflow: hidden;
  background: #f4fbff;
}
.canal img {
  width: 550px;
  height: 300px;
  object-fit: cover;
}
.canal-detail {
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}
.canal-description {
  text-align: center;
}

.canal-url {
  color: #056fff;
  font-weight: bold;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.contact
{
  background-color: #056fff;
  color: white;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-email
{
  margin-bottom: 40px;
  margin-top: 0px;
  margin-left: 20px;
}
.form-email input
{
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url('https://ioriyagami2017.000webhostapp.com/images/mail.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email button {
  display: block;
  background: transparent;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}

.redes-link
{
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

.redes-link.github 
{
  background-image: url('../images/__github.svg');
}

.redes-link.linkedin 
{
  background-image: url('../images/linkedin.png');
}
.redes-link.facebook 
{
  background-image: url('../images/facebook.svg');
}

.redes-link.instagram 
{
  background-image: url('../images/instagram.svg');
}

.redes-link.twitter
{
  background-image: url('../images/twitter.svg');
}

.redes-link.youtube
{
  background-image: url('../images/youtube.png');
}

.footer
{
  font-family: 'Abel', sans-serif;
  color:white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer img
{
  vertical-align: middle;
}

.footer a
{
  color: inherit;
  text-decoration: none;
}

.personal
{
  margin:30px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  width: 550px;
  height:200px;
}

.personal-title
{
  width: 300px;
  padding-bottom: 10px;
  margin-left: 20px;
}

.personal-description
{
  width: 100%;
  margin:0em 1em;
  font-size: 1em;
  padding-bottom: auto;
  /* display: inline */
  text-align: justify;
}

.personal-imageContainer
{
  width: 300px;
}

.personal-image
{
  width: 70%;;
  /* height: 150px; */
  border:2px solid gray;
  border-radius: 100%;
  
}

.container
{
  max-width: 1000px;
  flex:1;
  margin: 0 auto;
  height: inherit;
  justify-content: inherit;
  align-items: inherit;
  display: inherit;
  flex-wrap: inherit;
}

.html-video
{
  width: 100%;
  height:auto;
}
.youtube-video
{
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  z-index:1;
}
.flexible-video
{
  width:100%;
  height:0px;
  padding-top:56.25%;
  background:blue;
  position:relative;
}

.burger-button
{
  width:40px;
  height:40px;
  background-color:rgba(0, 0, 0, .6);
  display:none;
  line-height:40px;
  text-align: center;
  color:white;
  font-size: 1.18em;
  border-radius: 50%;
  position:fixed;
  top:5px;
  left:5px;
  z-index:4;
}

.icon-in, .icon-facebook, .icon-twitter, .icon-github, .icon-instagram, .icon-youtube
{
font-size: 2.2em;
text-decoration: none;
margin-right:.4em;
color:white;
}
@media screen and (max-width:1024px)
{
  .hero
  {
    height:auto;
    position:relative;
    overflow:hidden;
    padding:1em;
  }
  .hero-image
  {
    position:absolute;
    z-index:0;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    width:100%;
  }
  h1
  {
    z-index:1;
    /* top:0px;
    left:0px; */
  }
  .container
  {
    padding: 0em .9em;
  }
  .personal
  {
    max-width: 1000px;
    width:90%;
  }
  .personal-description
  {
    font-size: 1em;
  }
}


@media screen and (max-width:778px)
{

  h1
  {
    font-size: 1.5em;
    padding-right:2em;
  }
  .project-details
  {
    width:50%;
  }
  .canal img
  {
    width:100%;
  }
  .personal
  {
    width:80%;
    height: auto;
  }
  .personal-description
  {
    font-size: 1em;
  }
  h2
{
  color:#026fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 2.3em;
}
.project-title
{
  font-size: 1.9em;
  margin: 5px;
  font-family:'Abel', sans-serif;
  font-weight: bold;
}
.project-subtitle, .project-date, .project-url
{
  font-family: 'Abel', sans-serif;
  font-size: .85em;
  font-weight: bold;
  margin: 10px 0px 0px 6px;
}
.project-description
{
  font-size: .85em;
  margin: 10px 0px 0px 6px;
}
.icon-in, .icon-facebook, .icon-twitter, .icon-github, .icon-instagram, .icon-youtube
{
font-size: 2em;
text-decoration: none;
margin-right:.4em;
color:white;
}
}

@media screen and (max-width:479px)
{
  .burger-button
  {
    display:block;
  }
  h1
  {
    font-size: 1em;
    margin-right:15em;
  }
  .header
  {
    display: block;
    height: auto;
  }
  .header ol
  {
    display: block;
  }
  .header ol li
  {
    height: 40px;
  }
  .header a
  {
    justify-content: center;
  }
  .header .logo
  {
    text-align: center;
  }
  .project
  {
    display:block;
  }
  .project-imageContainer
  {
    width:auto;
    text-align: center;
  }
  .project-details
  {
    width:auto;
  }
  .project-title
  {
    font-size: 1.5em;
    margin: 5px;
    font-family:'Abel', sans-serif;
    font-weight: bold;
  }
  .project-subtitle, .project-date, .project-url
  {
    font-family: 'Abel', sans-serif;
    font-size: .8em;
    font-weight: bold;
    margin: 10px 0px 0px 6px;
  }
  .project-description
  {
    font-size: .8em;
    margin: 10px 0px 5px 6px;
  }
  .canal
  {
    width:auto;
  }
  .personal
  {
    width:80%;
    height: auto;
  }
  .personal-description
  {
    font-size: .8em;
  }
  .contact
  {
    height: auto;
    padding:1.5em 0em;
    text-align: center;
    display:block;
  }
  .form-email button
  {
    margin: 1em auto;
  }
  .form-email h3
  {
    margin-top: 0;
  }
  h2
  {
  color:#026fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 2.1em;
  }
  .icon-in, .icon-facebook, .icon-twitter, .icon-github, .icon-instagram, .icon-youtube
  {
  font-size: 1.9em;
  text-decoration: none;
  margin-right:.4em;
  color:white;
  }
  .menu
  {
    position:fixed;
    z-index:2;
    top:0;
    left:-100vw;
    width:100vw;
    bottom:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(2,111,255,.9);
    transition:.3s;
  }

  .menu.is-active
  {
    left:0;
  }
  .header a
  {
  font-size:1.5em;
  text-decoration: underline; 
  }
}

@media screen and (max-width:320px)
{
  .project-details
  {
    width:auto;
  }

  .project img
  {
    width:50%;
    height: 50%;
  }
  .canal-detail
  {
    margin: -2.5em .5em .5em;
    padding: 1em;
  }
  .personal
  {
    width:70%;
    height: auto;
  }
  .personal-description
  {
    font-size: .6em;
  }
  .contact
  {
    height: auto;
  }
  .footer
  {
    display: block;
    text-align: center;
    border:1px solid transparent;
  }
  h2
  {
  color:#026fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .9em;
  margin-bottom: 1.8em;
  }
  .project-title
  {
  font-size: 1em;
  margin: 5px;
  font-family:'Abel', sans-serif;
  font-weight: bold;
  }
  .project-subtitle, .project-date, .project-url
  {
  font-family: 'Abel', sans-serif;
  font-size: .6em;
  font-weight: bold;
  margin: 10px 0px 0px 6px;
  }
  .project-description
  {
  font-size: .6em;
  margin: 10px 0px 5px 6px;
  }
  .icon-in, .icon-facebook, .icon-twitter, .icon-github, .icon-instagram, .icon-youtube
{
font-size: 1.7em;
text-decoration: none;
margin-right:.4em;
color:white;
}
.header a
{
font-size:1.2em;
text-decoration: underline; 
}
}


